body {
	background-color: #f8f8f8;
	overscroll-behavior-y: contain;
}
table {
	table-layout:fixed
}
tbody td, tbody tr {
	cursor: pointer;
}
tbody td {
	font-size: 12px;
}
tbody td.field {
	border: solid 1px #e1e1e1;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 17px;
	vertical-align: middle !important;
}
.green {
	color: green;
}
.red {
	color: red;
}
